.disc {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rainbow_spin infinite .75s alternate;
  background-color: #b3c33a;;
  box-sizing: border-box;
  // &:after {
  //   content: '';
  //   width: 60%;
  //   height: 60%;
  //   border: 2px solid #58afd1;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #58afd1;
  //   position: relative;
  //     }
}
