@import "../../../assets/mixins.scss";

$primary: #011f2a;
$secondary: #9ddcdc;
.size-zero {
  height: 0 !important;
  width: 0 !important;
  transition: width 400ms ease-out-in;
}
.size-full {
  height: 100% !important;
  width: 100% !important;
  transition: width 400ms ease-in-out;
}
.drop-zone {
  height: 100px;
  width: 100%;
  border-radius: 15px;
  &.notification-expanded {
    background-color: $primary;

    .drop-zone__cells {
      @extend .size-zero;
      ::ng-deep {
        connect4-dropzone-cell {
          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              .cell {
                .droppable-disc {
                  animation: droppable-disc-out
                    100ms
                    #{$i *
                    100}ms
                    ease
                    forwards;
                  connect4-drop-button {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    connect4-notification {
      @extend .size-full;
    }
  }
  &.notification-collapsed {
    .drop-zone__cells {
      @extend .size-full;
      ::ng-deep {
        connect4-dropzone-cell {
          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              .cell {
                &:not(:hover) {
                  .droppable-disc {
                    animation: droppable-disc-in
                      300ms
                      #{$i *
                      100}ms
                      ease
                      forwards;
                    connect4-drop-button {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    connect4-notification {
      display: none;
      @extend .size-zero;
    }
  }
  &.is-machine-turn {
    pointer-events: none;
  }
  &.is-human-turn {
  }
  .drop-zone__cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    ::ng-deep {
      connect4-dropzone-cell {
        border-radius: 15px;
        &:hover {
          .droppable-disc {
            @include cell-border-hover(#ffe593, 4px, bottom, right, true);
          }
        }
      }
    }
  }

  .drop-zone__notif {
  }
}

@keyframes droppable-disc-out {
  0% {
    top: -30px;
  }
  100% {
    top: -70px;
  }
}

@keyframes droppable-disc-in {
  0% {
    top: -70px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: -30px;
  }
}

@keyframes droppable-disc-down {
  0% {
    top: -30px;
  }
  100% {
    top: 70px !important;
  }
}
