<div class="drop-zone" [ngClass]="{'notification-expanded' : notificationOpen, 'notification-collapsed': !notificationOpen,
 'is-machine-turn': player.type == PLAYER_TYPE_enum.MACHINE, 'is-human-turn': player.type == PLAYER_TYPE_enum.HUMAN}">
 <div class="drop-zone__cells">
    <connect4-dropzone-cell  *ngFor="let cell of dropZoneCells; let i = index"
    [columnIndex]='i + 1' [color]="player!.color" (mouseleave)="columnHovered.emit(null)" (mouseenter)="columnHovered.emit(i + 1)"></connect4-dropzone-cell>
  </div>
    <connect4-notification class="drop-zone__notif" (toggle)="onNotificationToggle($event)"></connect4-notification>
</div>
