#my-canvas {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}
.notification-container {
  z-index: 9;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #222;
  font-size: 3rem;
  font-family: "Luckiest Guy", Arial;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .text {
    text-transform: uppercase;
    color: rgb(88, 175, 209);
    font-family: "Luckiest Guy", Arial;
    z-index: 200;
    // background: linear-gradient(
    //   60deg,
    //   hsl(0, 75%, 50%) 10%,
    //   #ffe593 10%,
    //   #ffe593 25%,
    //   hsl(50, 75%, 50%) 25%,
    //   hsl(50, 75%, 50%) 40%,
    //   hsl(130, 75%, 50%) 40%,
    //   hsl(130, 75%, 50%) 55%,
    //   hsl(200, 75%, 50%) 55%,
    //   hsl(200, 75%, 50%) 70%,
    //   #ffe593 70%,
    //   hsl(260, 75%, 50%) 85%,
    //   hsl(0, 75%, 50%) 85%
    // );

    //-webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;
    //10s color-cycle linear infinite,
    animation: 3s pulse ease alternate infinite;
  }
}

@keyframes color-cycle {
  100% {
    background-position: 100vw 0px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.1);
  }
}
