// @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300';



.btn-wrapper{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
	width: 100%;
	text-align: center;
}

.btn{
	display: inline-block;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	//background-color: rgb(0, 240, 168);
	padding: 0 5px;
	font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
	color: rgb(40, 45, 50);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
  background-color: transparent;
  color: #58afd1;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 3px;
    }
  }
	&:hover{
		transform: scale(1.1, 1.1);
	}

	&:active{
		transform: scale(1.05, 1.05);
	}
}
