<div class="btn-wrapper">
	<button type="button" class="btn">
    <span *ngIf="dropAllowed">
      <i class="material-icons animated infinite rubberBand">arrow_downward</i>
    </span>
    <span *ngIf="!dropAllowed">
      <i class="material-icons animated infinite rubberBand">not_interested</i> 
    </span>
  </button>
</div>
