@import "../../../assets/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Orbitron");

$primary: #011f2a;
$secondary: #9ddcdc;

:host {
  display: block;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    background-color: #1f1a25;
    overflow: hidden;
    padding: 5px;
    @include cell-border-hover(#58afd1, 2px, bottom, right, false);

    connect4-dropzone {
      width: 100%;
    }
    .body {
      width: 100%;
      display: flex;

      &.menuOpen {
        grid-template-columns: 1fr 0.5fr;
        .cells {
          width: 50%;
          border-right: 2px solid #58afd1;
        }
      }
      .cells {
        height: 600px;
        width: 100%;
        transition: width 500ms ease;
        padding: 10px;

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 10px;
        grid-template-rows: repeat(7, 1fr);
        ::ng-deep {
          connect4-cell {
            &.column-droppable {
              .cell {
                @include cell-border-hover(#ffe593, 2px, bottom, right, true);
              }
            }
            &.cell-highlighted {
              .cell {
                @include cell-border-hover(#ffe593, 2px, bottom, right, true);
              }
            }
            &:not(.column-droppable, .cell-highlighted) {
              .cell {
                @include cell-border-hover(#58afd1, 2px, bottom, right, false);
              }
            }
          }
        }
      }

      connect4-menu {
        width: 50%;
        transition: all 500ms ease;
      }
    }
  }
  .timer {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 15px;
    left: 6px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-weight: 500;
    color: rgb(88, 175, 209);
    border-radius: 15px;
    border: 2px solid rgb(88, 175, 209);
    color: rgb(88, 175, 209);
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
  }
  .menu {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-weight: 500;
    color: rgb(88, 175, 209);
    border-radius: 6px;
    transition: all 0.7s ease-out;
    border-top: 2px solid #58afd1;
    text-decoration: none;
    border: 2px solid rgb(88, 175, 209);
    outline: none;
    &:hover {
      color: #fff;
      background-color: rgb(88, 175, 209);
      .material-icons {
        color: $primary;
      }
    }
    .material-icons {
      font-size: 45px;
      color: rgb(88, 175, 209);
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;
      color: #666666;
      pointer-events: none;
    }
  }
}

@keyframes pulseBorder {
  from {
    border: solid 1px #f00;
  }
  to {
    border: solid 10px #f00;
  }
}

@keyframes menu_open {
  0% {
    width: 100%;
  }
  50% {
    width: 65%;
  }

  100% {
    width: 75%;
  }
}
