<div class="container">
  <!-- <div class="timer">
    <div class="timer__time">
       00 : 00
    </div>
  </div> -->
  <div class="board">
    <connect4-dropzone (columnHovered)="onColumnHovered($event)"></connect4-dropzone>
    <div class="body" [ngClass]="{'menuOpen': menuOpen}">
      <div class="cells">
        <connect4-cell *ngFor="let cell of emptyCells; let i = index" [cell]='cell'
        [ngClass]="{'column-droppable': cell.column == hoveredColumn}" ></connect4-cell>
      </div>
        <connect4-menu class="animated fadeIn" *ngIf="menuOpen" (closeMenu)="toggleMenu(false)"></connect4-menu>
    </div>


  </div>
  <button class="menu" [ngClass]="{'disabled': state.status == null}" *ngIf="!menuOpen" (click)="toggleMenu()">
    <i class="material-icons">
    menu
    </i>
  </button>

</div>
