<div class="switch"  [ngClass]="{'switch--disabled': disabled, 'switch--active': !disabled}">
	<div class="inner-container">
		<div class="toggle" (click)="toggle()">
			<p>{{rLabel}}</p>
		</div>
		<div class="toggle" (click)="toggle()">
			<p>{{lLabel}}</p>
		</div>
	</div>
	<div class="inner-container toggle-container" [ngClass]="{'active-left': activeLeft}">
		<div class="toggle">
			<p>{{rLabel}}</p>
		</div>
		<div class="toggle">
			<p>{{lLabel}}</p>
		</div>
	</div>
</div>
