:host-context(.switch--active) {
}

.switch {
  width: 160px;
  height: 36px;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  border: 2px solid rgb(88, 175, 209);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  &.switch--disabled {
    border: 2px solid rgba(88, 175, 209, 0.4);
    cursor: not-allowed;
    .inner-container {
      opacity: 0.4;
    }
  }
  &.switch--active {
    .inner-container {
      &:not(.toggle-container) {
        &:hover {
          color: #fff;
          //background-color: rgb(88, 175, 209);
        }
      }
    }
  }

  .inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &:not(.toggle-container) {
    }

    &:nth-child(2) {
      color: white;
      clip-path: inset(0 50% 0 0);
      transition: 0.3s cubic-bezier(0, 0, 0, 1);
    }
    &.toggle-container {
      clip-path: inset(0 0 0 50%);
      background-color: rgb(88, 175, 209);
      &.active-left {
        clip-path: inset(0 50% 0 0);
        background-color: rgb(88, 175, 209);
      }
    }
    .toggle {
      width: 50%;
      position: absolute;
      height: inherit;
      display: flex;
      box-sizing: border-box;
      p {
        margin: auto;
      }
      &:nth-child(1) {
        right: 0;
      }
    }
  }
}
