$primary: #011f2a;
$secondary: #1f1a25;
@import "../../../assets/mixins.scss";
@import "../../../assets/animations.scss";

//#9DDCDC;

.cell {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  &-highlighted {
    @include cell-border-hover(#ffe593, 2px, bottom, right, true);
    .cell-center {
      /deep/ {
        connect4-disc {
          .disc {
            animation: opacityPulse 2s ease-out;
            animation-iteration-count: infinite;
            opacity: 1;
          }
        }
      }
    }
  }

  &.dropped {
    .cell-center {
      /deep/ {
        connect4-disc {
          .disc {
            display: block;
            position: absolute;
            animation: disc-drop 500ms ease forwards;
          }
        }
      }
    }
  }
  &.dropping {
    .cell-center {
      /deep/ {
        connect4-disc {
          .disc {
            display: block;
            position: absolute;
            animation: disc-dropping 500ms ease forwards;
          }
        }
      }
    }
  }
  .cell-center {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: transparent;
    color: blue;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #58afd1;
  }
}

@keyframes disc-dropping {
  0% {
    top: -60px;
    display: block !important;
  }

  100% {
    top: 60px;
    display: none !important;
  }
}

@keyframes disc-drop {
  0% {
    top: -60px;
    display: block !important;
  }

  100% {
    top: 0px;
    display: none !important;
  }
}
