.cell {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  &:hover {
    .droppable-disc {
      top: 70px !important;
    }
  }

  .droppable-disc {
    position: absolute;
    top: -30px;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    connect4-drop-button {
      height: 100%;
      width: 100%;
      margin-top: 10px;
      transition: 500ms ease 500ms;
      position: absolute;
      top: 0;
    }
  }
}
