<div class="cell"  (click)="dropDisc()">
     <div class="droppable-disc" [style.backgroundColor]="color">
       <connect4-drop-button (click)="dropDisc()"></connect4-drop-button>
     </div>
</div>
