/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg)
    no-repeat center center fixed;
  //  background: #231f20;
}
