<div class="menu-pane">
  <div class="menu">
    <a class="btn" (click)="startGame()">
      <span *ngIf="(_gameStore.selectGameStatus() | async) == null; else newgame">Start Game</span>
      <ng-template #newgame>New Game</ng-template>
    </a>
    <mat-radio-group class="oponent-radio-group" [(ngModel)]="oponent">
      <label>Select Oponent</label>
      <mat-radio-button class="oponent-radio-button" [name]="'oponent'" [value]="PLAYER_TYPE_enum.MACHINE">
        Machine
      </mat-radio-button>
      <mat-radio-button class="oponent-radio-button" [name]="'oponent'" [value]="PLAYER_TYPE_enum.HUMAN">
      Human
      </mat-radio-button>

  </mat-radio-group>
  <div class="switches">
    <connect4-toggle-switch class="animated slideInRight" [rLabel]="'Hard'" [lLabel]="'Easy'" [lValue]="DIFICULTY_Enum.EASY" [rValue]="DIFICULTY_Enum.HARD"
     (change)="onDificultyChange($event)" [selected]="dificulty" *ngIf="oponent == PLAYER_TYPE_enum.MACHINE"></connect4-toggle-switch>

     <connect4-toggle-switch class="animated slideInRight" [rLabel]="'Invite'" [lLabel]="'Local'" [lValue]="'local'" [rValue]="'invite'"
      (change)="onMultiplayerChange($event)" [selected]="multiplayer" *ngIf="oponent == PLAYER_TYPE_enum.HUMAN"></connect4-toggle-switch>
  </div>


  <div class="send-invite animated slideInRight" *ngIf="multiplayer == 'invite'">
    <div class='input-wrapper'>
    <input placeholder="Email..." spellCheck="false" [(ngModel)]="email"/>
    <span class='input-highlight'>
      {{inputHighlight}}
        </span>
  </div>
    <a class="send-invite__btn btn" (click)="sendInvite()">
      <i class="material-icons">send</i>
      Send
    </a>
  </div>

  <a *ngIf="(_gameStore.selectGameStatus() | async) != null;" class="btn cancel" (click)="closeMenu.emit(false)">
    <span>Cancel</span>
  </a>
  </div>

</div>
