$input-font-size: 30px;
$input-line-height: 70px;
.menu-pane {
  position: relative;
  border-top: 2px solid #58afd1;
  height: 100%;
  &.list-expanded {
    connect4-saved-list {
      height: 100%;
      width: 100%;
      z-index: 5;
    }
  }
  connect4-saved-list {
    position: absolute;

    background-color: #1f1a25;
    height: 0;
    width: 0;
    transition: all 500ms ease;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    .btn {
      display: inline-block;
      background: transparent;
      text-transform: uppercase;
      font-weight: 500;
      font-style: normal;
      font-size: 1rem;
      letter-spacing: 0.3em;
      color: rgb(88, 175, 209);
      border-radius: 6px;
      width: 160px;
      height: 36px;
      transition: all 0.7s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 0.625rem;
      border: none;
      border: 2px solid rgb(88, 175, 209);
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: rgb(88, 175, 209);
      }
      &.cancel {
      }
    }

    .oponent-radio-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        font-size: 20px;
      }
      .oponent-radio-button {
        margin-top: 20px;
        ::ng-deep {
          .mat-radio-label {
            font-size: 18px !important;

            .mat-radio-container {
              .mat-radio-outer-circle {
                border-color: inherit !important;
              }
              .mat-radio-inner-circle {
                background-color: rgb(88, 175, 209);
              }
            }
          }
        }
      }
    }
    .send-invite {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .send-invite__btn {
        display: flex;
      }
      .input-wrapper {
        position: relative;
        input {
          height: 60px;
          width: 100%;
          min-width: 100%;
          padding: 0;
          border-radius: 0;
          line-height: $input-line-height;
          background-color: transparent;
          color: white;
          font-size: $input-font-size;
          border: none;
          outline: none;
          border-bottom: 3px solid rgb(88, 175, 209); //#333333;
          font-family: inherit;

          &:focus {
            + .input-highlight {
              border-top: 3px solid #fbc91b !important;
            }
          }
        }
        .input-highlight {
          position: absolute;
          font-size: $input-font-size;
          user-select: none;
          line-height: $input-line-height;
          border-top: 3px solid white;
          position: absolute;
          left: 0;
          bottom: 0;
          max-width: 100%;
          height: 0;
          color: transparent;
          font-family: inherit;
          overflow: hidden;
        }
      }
    }
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
